<!DOCTYPE html>
<html>
	<head>
		<title>How Does Vagrant Work?</title>
		<style type="text/css">
		html, body {
			background-color: #000000;
			color: #FFFFFF;
			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
			text-align: center;
		}

		a, a:visited {
			color: white;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}

		div {
			display: -moz-inline-stack;
			display: inline-block;
			zoom: 1;
			*display: inline;
		}

		.second {
			margin-left: 20px;
		}
		</style>
	</head>
	<body>
		<div>
			<h1>How does <a href="http://vagrantup.com">Vagrant</a> work?</h1>

			<img src="/static/mitchell_hashimoto_what.jpeg" alt="How does Vagrant work?" />
		</div>

		<div class="second">
			<h1>Hahahahah... MAGIC!</h1>

			<img src="/static/mitchell_hashimoto_lol.jpeg" alt="MAGIC!" />
		</div>
	</body>
</html>
