<!DOCTYPE html>
<html>
	<head>
		<title>How Does Vagrant Work?</title>
		<style type="text/css">
		body {
			background-color: black;
			color: white;
			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
			text-align: center;
		}

		#explanation > div {
			float: left;
			width: 400px;
			margin-right: 35px;
		}
		</style>
	</head>
	<body>
		<div id="explanation">
			<div>
				<h1>How does Vagrant work?</h1>

				<img src="/static/mitchell_hashimoto_what.jpeg" alt="How does Vagrant work?" />
			</div>

			<div>
				<h1>Hahahahah... MAGIC!</h1>

				<img src="/static/mitchell_hashimoto_lol.jpeg" alt="MAGIC!" />
			</div>
		</div>
	</body>
</html>
